<%= form_with(model: [:users_backoffice, @correspondent], local: true) do |form| %>
  <% if correspondent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(correspondent.errors.count, "error") %> prohibited this about from being saved:</h2>

      <ul>
      <% correspondent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.cktext_area :description %>
  </div>


<br> </br>
 
  <div class="actions">
    <a class="waves-effect grey btn">  <%= form.submit %> </a>
  </div>
<% end %>


