
<div class="section"> </div>
  <main> 
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <center>
      <%= image_tag('logoOk_1@2x.png', class: "responsive-img", width: '250px') %> 
      <div class="section"></div>

      <h5 class="blue-text"> Administrativo USER </h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
               <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <%= f.password_field :password, autocomplete: "current-password" %>
                <label for='password'>Enter your password</label>
              </div>
              <label style='float: right;'>
								<a class='pink-text' href='#!'><b>
                
                <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %>
                   <%= f.label :remember_me %>
                <% end %>
                
                
                </b></a>
							</label>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect grey'> 
                  
                  <div class="actions">
    
                       <%= f.submit "ENTRAR" %>

                         </div>
                 

                 </button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a> 
         
        <%= render "users/shared/links" %>

      </a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

  

  
<% end %>