<div class="container">
<p id="notice"><%= notice %></p>

<h1> Mostrar Conteudo Rodapé </h1>

<table>
        <thead>
          <tr>
              <th> <strong> Titulo:</strong> </th>
              <td> <strong> Endereço: </strong> </td>
              <td>  <strong> Telefone:</strong> <td>
              <th>  <strong> Email:  </strong></th>
              <th>  <strong> Telefone DOIS:  </strong></th>
              <th> <strong> Ações </strong> </th>
              <th> <strong> Editar </strong>  </th>
              <th> <strong> Voltar </strong> </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            
            <td> <%= @content.title  %> </td>
            <td>  <%= @content.address.html_safe %> </td>
            <td> <%= @content.phone %> </td>
            <td> <%= @content.email %> </td>
            <td> <%= @content.phone_two %> </td>
            <td> 
            <%= link_to 'Editar', edit_users_backoffice_content_path(@content) , class: "waves-effect green btn" %> 
            </td> 
            <td>
<%= link_to 'Voltar', users_backoffice_contents_path , class: "waves-effect yellow btn"  %>
            </td>
          </tr>
        </tbody>
      </table>

</div>  
