<div class="container">
<p id="notice"><%= notice %></p>

<h1> Mostrar Creditos </h1>

<table>
        <thead>
          <tr>
              <th> <strong> Titulo</strong> </th>
              <td> <strong> Texto: </strong> </td>
              <td>  <strong>Status:</strong> <td>
              <th><strong> Ações:  </strong></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            
            <td> <%= @credit.title  %> </td>
            <td>  <%= @credit.content.html_safe %> </td>
            <td> <%= @credit.status %> </td>
            <td> 
            <%= link_to 'Editar', edit_users_backoffice_credit_path(@credit) , class: "waves-effect green btn" %> |
<%= link_to 'Voltar', users_backoffice_credits_path , class: "waves-effect yellow btn"  %>
            </td>
          </tr>
        </tbody>
      </table>

</div>  
