<%#= form_with(model: who, local: true) do |form| %>
<%= form_with(model: [ :users_backoffice, @who], local: true) do |form| %>
  <% if who.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(who.errors.count, "error") %> prohibited this who from being saved:</h2>

      <ul>
      <% who.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.cktext_area :content %>
  </div>

  <div class="input-field">
    
   <input type="checkbox" checked="checked" /> <%= form.check_box :status %>
    <span> <%= form.label :status %> </span>
  </div>

     
  <div class="actions">
    <a class="waves-effect grey btn">   <%= form.submit %> </a>
  </div>
<% end %>
