  <!-- MAIN  -->  

<a href="#dialog" name="modal"> </a>

<div id="boxes">

<div id="dialog" class="window">

<div class="container">
 <div class="page">
<div class="row">
    <div class="col s10 m12">
      <div class="card blue-grey lighten-5">
        <div class="card-content blue-text">
         <a href="#" class="material-icons close right"> close </a><br />
          <h5 style="text-align: justify">
           <span> Atenção </span> 
            ! A Pincred não solicita nenhum tipo de pagamento antencipado de suas operações aos clientes. 
           </h5>
        </div>
      </div>
    </div>
</div>
  </div>  

</div>

 
 </div>

 
<div id="mask"></div>

</div>

    <div id="index-banner" class="parallax-container">
           <% @banners.each do |banner|%>
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2"> <%= banner.title %> </h1>
        <div class="row center">
          <h5 class="header col s12 light white-text"> <%= banner.content.html_safe %> <br /> 
        </div>
        <div class="row center">
         <%= link_to 'Saiba Mais',  page_prods_index_path , class: "btn-large waves-effect waves-light blue lighten-1"%>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"> <%= image_tag banner.avatar_url %></div>
    <% end %>
  </div>


  <div class="container">

   
    <div class="section">

      <!--   Icon Section   --> 

    <div class="row">
        <div class="col s12 m4">
        <% @posts.each do |post|%>
          <div class="icon-block">
            <h2 class="center blue-text"><i class="large material-icons">attach_money</i></h2>
            <h5 class="center" style="color: #17365d;"> <%= post.title %> </h5>

            <p class="center"> 
               <%= post.text.html_safe %>
            </p>
          </div>
          <% end %>
        </div>

        <div class="col s12 m4">
         <% @credits.each do |credit|%>
          <div class="icon-block">
            <h2 class="center blue-text"><i class=" large material-icons">access_time</i></h2>
            <h5 class="center" style="color: #17365d;"> <%= credit.title %></h5>

            <p class="center">
            <%= credit.content.html_safe %>
            </p>
          </div>
          <% end %>
        </div>

        <div class="col s12 m4">
         <% @outs.each do |out|%>
          <div class="icon-block">
            <h2 class="center blue-text"><i class=" large material-icons">settings</i></h2>
            <h5 class="center" style="color: #17365d;">  <%= out.title %>  </h5>

            <p class="center"> 
            <%= out.content.html_safe %> </p>
          </div>
        </div>
      </div>

    </div>
    <% end %>
  </div>


  <div class="parallax-container valign-wrapper">
   <% @imgs.each_with_index do |img,index|%>
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 span class="header col s12  blue-text bold">
          <%#= img.title  %>
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag img.avatar_url %> </div>
  <%# end %>
  </div>

  <div class="container">
    <div class="section">
<%# @banners.each_with_index do |banner,index|%>
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send black-text"></i></h3>
          <h3 span class="bold" style="color:#17375e;"> <%= img.title %> </h4>
          <p class="left-align light"> <%= img.content.html_safe  %> </p>
        </div>
      </div>
<% end %>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
  <% @imagems.each_with_index do |imagem,index|%>
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s14 black-text bold"> <%= imagem.content.html_safe  %>  </h5>
        </div>
      </div>
    </div>
    <div class="parallax"> <%= image_tag imagem.avatar_url %> </div>
    <% end %>
  </div>

  <!-- END MAIN -->
