
<nav class= "blue darken-1 " role="navigation">

            <div class="nav-wrapper container"> <a id="logo-container" href="#" class="brand-logo"> <%= image_tag 'logo_pincred_1.png' %> </a>
              <ul class="right hide-on-med-and-down">
                <li> <%=link_to 'CADASTRAR USUÁRIOS', users_backoffice_users_path %> </li>
                <li> <%=link_to 'VERIFICAR PERMISSÕES', root_path %> </li>
                <li> <%=link_to 'GERENCIAR LOGS', root_path %> </li>
                  <li> <%=link_to 'GERENCIAR ADMINS ', admins_backoffice_admins_path %> </li>
                 <%= link_to "SAIR", destroy_admin_session_path, method: :delete , class: "waves-effect waves-light btn"%> 
               </ul>  
              
  
</nav>


  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="black-text name"> <p> Usuário Está Logado como : </p></span></a>
      <a><span class="black-text email"> <%= current_admin.inspect%> </span></a>
    </div></li>
    
    <li><a> <%= link_to "SAIR", destroy_admin_session_path, method: :delete %></a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"> ADMIN </a></li>
    
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"> <i class="material-icons">menu</i></a>


