<div class="container">



<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header"> <h3 class="center-align"> Listando os Administradores </h3> </h1>
   </div>
</div>  
    
    <div class="right"> 
  
  <%=  link_to 'Incluir Novo' ,  new_admins_backoffice_admin_path , class:"waves-effect blue btn"  %>

    </div>

<table>
        <thead>
          <tr>
              <th class="center"> ID </th>
              <th class="center"> Nome </th>
              <th class="center"> Email </th>
              <th class="center"> Ativo </th>
              <th class="center"> Actions </th>
          </tr>
        </thead>

        <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td> <%= admin.id %> </td>
            <td> <% admin.id %> </td>
            <td> <%= admin.email %> </td>
            <td><%= admin.created_at%></td>
            <td>  
             <%=  link_to 'Editar' , edit_admins_backoffice_admin_path(admin), class:"waves-effect grey btn"  %>
              <%=  link_to 'Mostrar' , admins_backoffice_admin_path(admin), class:"waves-effect green btn" %>
             <%=  link_to 'Excluir' , admins_backoffice_admin_path(admin), class:"waves-effect red btn" ,method: :delete , data: {confirm: "Deseja realmente excluir ?"} %>
            </td>
          </tr>
        <% end %>  
        </tbody>
      </table>

<div class="center">
      <%= paginate @admins %>
</div>     

  
</div>