<div class="container">
<p id="notice"><%= notice %></p>

<h1> Listagem de Tabelas de Tarifas </h1>

<table>
        <thead>
          <tr>
              <th> <strong> Titulo:</strong> </th>
              <td> <strong> Texto: </strong> </td>
              <th>  <strong> Ações:  </strong></th>
              <th> <strong> Editar </strong>  </th>
              <th> <strong> Voltar </strong> </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            
            <td> <%= @fee.title  %> </td>
            <td>  <%= @fee.content.html_safe %> </td>
            <td> 
            <%= link_to 'Editar', edit_users_backoffice_fee_path(@fee) , class: "waves-effect green btn" %> 
            </td> 
            <td>
<%= link_to 'Voltar', users_backoffice_fees_path , class: "waves-effect yellow btn"  %>
            </td>
          </tr>
        </tbody>
      </table>

</div>  

