<div class="container">



<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header"> <h3 class="center-align"> Listando Taxas</h3> </h1>
   </div>
</div>  
    
    <div class="right"> 
  
  <%=  link_to 'Incluir' ,  new_users_backoffice_out_path , class:"waves-effect blue btn"  %>

    </div>

<table>
        <thead>
          <tr>
              <th class="center"> ID </th>
              <th class="center"> Titulo </th>
              <th class="center"> Conteudo </th>
              <th class="center"> status </th>
              <th class="center"> Actions </th>
          </tr>
        </thead>

        <tbody>
        <% @outs.each do |out| %>
          <tr>
            <td> <%= out.id %> </td>
            <td> <% out.title %> </td>
            <td> <%= out.content %> </td>
            <td><%= out.status %></td>
            <td>  
             <%=  link_to 'Editar' , edit_users_backoffice_out_path(out), class:"waves-effect grey btn"  %>
              <%=  link_to 'Mostrar' , users_backoffice_outs_path(out), class:"waves-effect green btn" %>
             <%=  link_to 'Excluir' , users_backoffice_outs_path(out), class:"waves-effect red btn" ,method: :delete , data: {confirm: "Deseja realmente excluir ?"} %>
            </td>
          </tr>
        <% end %>  
        </tbody>
      </table>

<div class="center">
      <%#= paginate @users %>
</div>     

  
</div>