
<div class="container">
<p id="notice"><%= notice %></p>

<h1> Mostrar Produtos </h1>

<table>
        <thead>
          <tr>
              <th> <strong> Titulo:</strong> </th>
              <td> <strong> Descrição:</strong> </td>
              <td>  <strong>Status:</strong> <td>
              <th><strong> Ações:  </strong></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            
            <td> <%= @product.title %></td>
            <td>  <%= @product.description.html_safe %> </td>
            <td> <%= @product.status %> </td>
            <td> 
            <%= link_to 'Editar', edit_users_backoffice_product_path(@product), class: "waves-effect green btn" %> |
<%= link_to 'Voltar', users_backoffice_products_path , class: "waves-effect yellow btn"  %>
            </td>
          </tr>
        </tbody>
      </table>

</div>  


