<!DOCTYPE html>
<html>
  <head>
    <title> Site Pincred </title>
    <%= render 'layouts/site_layout/config_site'%>
  </head>
   
  <body>
    <%= render 'layouts/site_layout/site_header'%>
    <%= yield %>
    <%= render 'layouts/site_layout/site_main'%>
    <%= render 'layouts/site_layout/site_footer'%>
  </body>
</html>
