<!DOCTYPE html>
<html>
  <head>
    <title>Site Pincred </title>
    <%= render 'layouts/users_layout/config_users' %>
  </head>
  <body> 
  <%= render 'layouts/users_layout/users_header'%>
    <%= yield %>
  <%= render 'layouts/users_layout/users_main'%>
  <%= render 'layouts/users_layout/users_footer'%>  
  </body>
</html>
